# Project local config
.env

# Xcode project files
*.xcworkspace

# IntelliJ
build/
.idea
.gradle
local.properties
*.iml
**/google-services.json
**/index.android.bundle

# node.js
node_modules/
npm-debug.log
yarn-error.log

# CocoaPods
/ios/Pods/
.DS_Store
